#chat-container {
    background-color: var(--main1);
    width: 100%;
    border-radius: var(--border-radius);
    margin: var(--margin-top) 0px 0px 0px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-left: 3px solid var(--main1);
    border-right: 3px solid var(--main1);
}

.message-time {
    font-size: 12px;
}

.message-sender {
    margin-left: 5px;
}

.message-content {
    word-wrap: break-word;
    word-break: break-word;
    margin-left: 4px;
}

.chat-title {
    margin: 5px 0px 5px 0px;
    text-align: center;
}

#chat-input {
    margin: 10px;
    width: 200px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--main4);
    color: white;
    border-radius: var(--border-radius);
    border: none;
    font-size: 15px;
    height: 25px;
    padding: 1px;
    padding-left: 5px;
    outline: none;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--placeholder);
}

#chat-button:hover {
    background-color: var(--button-hover);
}

#chat-button:active {
    background-color: var(--button-active);
}

#chat-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    height: 25px;
    padding: 1px 5px 1px 5px;
    font-size: 15px;
    line-height: 25px;
    color: white;
    background-color: var(--main4);
    border-radius: var(--border-radius);
    cursor: pointer;
}

#chat-input:focus {
    outline: none;
}

#scroll-container {
    padding: var(--small-padding);
    background-color: var(--main5);
    flex: 1 1 auto;
    overflow-y: scroll;
}

#chat-input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-container {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.highlighted-chat-message {
    color: var(--red);
}